.bg-green {
  background-color: #17a043;
  padding: 1.5rem 0.8rem;
  border-radius: 1rem;
  width: 20%;
}
.row {
  display: flex;
  gap: 1rem;
}
.picture {
  width: min(90%, 32rem);
  margin-inline: auto;
}
.user-btn {
  border-radius: 25px;
  background-color: #ffff;
  color: black;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}
.info-btn {
  width: 90%;
}
#profile-pic {
  width: 100%;
  object-fit: contain;
}
#handshake {
  width: 100%;
  object-fit: contain;
}
